* {
	box-sizing:  border-box;
}

html {
	font-size: 62.5%;
}

body {
	background-color: #454545;
	color: white;
	font-family: 'Gloria Hallelujah', cursive;
}

/*
	MODAL WINDOWS
*/

.modal {
	position: absolute;
	height: 500px;
	width: 500px;
	left: calc(50% - 250px);
	top: 210px;
	text-align: center;
	border-radius: 9px;
	display: none;
	background-color: rgba(69,69,69,0.9);
	border: 2px solid white;
}

.modal-content-container {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

.modal h3 {
	font-size: 5rem;
	margin-bottom: 5rem;
}

.btn {
	background-color: transparent;
	color: white;
	border: 3px solid white;
	padding: 1rem 1.5rem;
	border-radius: 5px;
	font-size: 2rem;
	transition: all 0.3s ease;
	cursor: pointer;
}

.btn:focus,
.btn:hover,
.btn:active {
	background-color: white;
	color: #222;
}

.error-picked-modal {
	background-color: red;
	color: white;
}

.show-modal {
	display: block;
}


/*
	MAIN WINDOW
*/

.main-header-container {
	padding: 4rem 0;
	text-align: center;
}

.main-header {
	font-size: 6rem;
	padding-bottom: 2rem;
	display: inline-block;
	border-bottom: 3px solid white;
	
}

.board-container {
	margin-top: 4rem;
	width: 452px;
	margin: 5rem auto 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: row wrap;
	    flex-flow: row wrap;
}

.board-box {
	width: 150px;
	height: 150px;
	font-size: 10rem;
	line-height: 150px;
	text-align: center;
	color: #CCEAF4;
}

.board-box:nth-child(3n-2),
.board-box:nth-child(3n-1){
	border-right: 2px solid white;
}

.board-box:nth-child(-1n + 6) {
	border-bottom: 2px solid white;
}

.scoreboard-container {
	width: 452px;
	margin: 5rem auto 0;
	padding-top: 2rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	border-top: 2px solid white;
	margin-bottom: 2rem;
}

.sb-box {
	width: 33.3333333%;
	text-align: center;
}

.sb-title {
	font-size: 2.6rem;
	margin-bottom: 2rem;
}

.sb-score {
	font-size: 3rem
}
